extends layout

block content
  h1= title
  p Welcome to #{title}

  ul 
    for msg in messages 
      li 
        h2= msg.title 
        p= msg.text
        div 
          if currentUser && (currentUser.membership || currentUser.isAdmin)
            p= msg.timestamp
            p= msg.author.fullName
          else 
            p #[strong Note]: Become a member to know who wrote this message and when.
        if currentUser && currentUser.isAdmin
          form(action=`/message/delete/${msg._id}`, method="post") 
            button(type="submit") X
  
  - const startPage = Math.max(current - 1, 1)
  - const endPage = Math.min(startPage + 2, pages)
  ul.pagination.flex
    if current > 1
      li.previous
        a(href=`/?page=${current - 1}`) Previous
    if current > 2
      li
        a(href=`/?page=1`) 1
    if current > 3
      li
        a(href=`/?page=${startPage - 1}`) ...
    - for (let i = startPage; i <= endPage; i++) {
      li(class=(current == i ? 'active' : ''))
        a(href=`/?page=${i}`)= i 
    - }
    if current < pages - 2 && pages > 4
      li 
        a(href=`/?page=${endPage + 1}`) ...
    if current < pages - 1 && pages > 3
      li  
        a(href=`/?page=${pages}`)= pages
    if current < pages 
      li
        a(href=`/?page=${Number(current) + 1}`) Next